.gm-iv-address {
    display: none !important;
}

button .gm-control-active {
    display: none !important;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    padding: 0;
}


#map {
    height: 100%; 
    width: 100%; 
    margin-bottom: 10px;
    justify-content: center;
    display: block;
    position: relative; 
}

.map-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.gm-fullscreen-control {
    display: none !important;
}

/* New CSS for positioning the container over the map */
.overlay-container {
    position: absolute; /* Position the container absolutely over the map */
    top: 0; /* Align it to the top of the map */
    left: 0; /* Align it to the left of the map */
    z-index: 1000; /* Ensure it stays on top of the map */
    color: white; /* Change text color to white for visibility */
}

/* Ensure buttons or other content inside the overlay stay on top */
.overlay-container button {
    position: relative; /* Ensure buttons are on top of other overlay content */
    z-index: 1001; /* Button should be above everything in the overlay */
}
