.gm-iv-address {
    display: none !important;
}

button .gm-control-active {
    display: none !important;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    padding: 0;
}


#map {
    height: 100%; 
    width: 100%; 
    margin-bottom: 10px;
    justify-content: center;
    display: block;
    position: relative; 
}

.map-btn-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.gm-fullscreen-control {
    display: none !important;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    color: white;
}

.overlay-container button {
    position: relative;
    z-index: 1001;
}
